/* 
    Created on : 2014-01-25, 15:50:04
    Author     : rafal
*/
.pakomato {
  /* styles for prestashop 1.4.x */ }
  .pakomato #pakomato_message {
    display: none;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.2em;
    border: solid 1px; }
    .pakomato #pakomato_message.green {
      color: green;
      border: solid 1px green;
      border-radius: 10px;
      background: #eeffee; }
    .pakomato #pakomato_message .red {
      color: red;
      border: solid 1px red;
      border-radius: 10px;
      background: #ffeeee; }
  .pakomato input.pakomato_cod_amount {
    width: 5em; }
  .pakomato #pakomato_create table tr td {
    line-height: 1.5em; }
  .pakomato #pakomato_create table tr.pmCreatePackage td {
    padding: 10px 0 0 0; }
  .pakomato #pakomato_sender,
  .pakomato #pakomato_create,
  .pakomato #pakomato_packs,
  .pakomato .pmLoader {
    display: none; }
  .pakomato .pakomato_box {
    border: solid 1px #aaa;
    background: #fff;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0px 5px;
    border-radius: 10px; }
  .pakomato .pakomato_status {
    margin: 10px;
    font-size: 10px; }
  .pakomato .pakomato_user_details,
  .pakomato .pakomato_send_machine_info {
    border: solid 1px #aaa;
    border-radius: 10px;
    margin-top: 10px;
    background: #fff;
    display: none;
    padding: 10px; }
  .pakomato .pakomato_user_details_close {
    margin: 10px; }
  .pakomato #pakomato_packs table.zlecenia tr td {
    line-height: 1.6em; }
  .pakomato #pakomato_packs .pakomato_pack {
    margin-top: 10px;
    position: relative;
    border: solid 1px; }
    .pakomato #pakomato_packs .pakomato_pack.created {
      color: #0088bb;
      border: dashed 1px #0088bb; }
    .pakomato #pakomato_packs .pakomato_pack.transit {
      color: #009900;
      border: dashed 1px #009900; }
    .pakomato #pakomato_packs .pakomato_pack.delivered {
      color: #009900;
      border-color: #009900; }
    .pakomato #pakomato_packs .pakomato_pack.sticker {
      color: #0088bb;
      border-color: #0088bb; }
    .pakomato #pakomato_packs .pakomato_pack.canceled {
      color: #dddddd;
      border-color: #dddddd; }
  .pakomato #pakomato_packs .pakomato_pack_button {
    margin-left: 10px; }
  .pakomato #pakomato_packs .pakomato_pack_info {
    position: absolute;
    top: 10px;
    left: 20px;
    border: solid 2px #9de;
    border-radius: 10px;
    background: #fff;
    color: #666666;
    padding: 10px;
    z-index: 10;
    width: 50em;
    text-align: left;
    font-size: 14px;
    font-weight: normal; }
    .pakomato #pakomato_packs .pakomato_pack_info span.pm_info {
      color: #666666; }
    .pakomato #pakomato_packs .pakomato_pack_info span.label {
      font-weight: bold; }
  .pakomato.presta14 {
    width: 400px;
    font-size: 12px; }
    .pakomato.presta14 .label {
      width: 190px; }
    .pakomato.presta14 select {
      width: 150px; }
    .pakomato.presta14 .pakomato_pack {
      font-size: 11px; }
  .pakomato.presta16 .pakomato_pack_info h3 {
    padding: 2px 0;
    border: 0;
    font-size: 1.2em;
    display: block; }
  .pakomato.presta16 #pakomato_create table tr td {
    line-height: 1.5em;
    padding: 3px 0; }
    .pakomato.presta16 #pakomato_create table tr td.label {
      color: #666666;
      text-align: right; }
  .pakomato.presta16 #pakomato_packs tr.pakomato_row td {
    padding: 2px 0; }
  .pakomato.presta16 #pakomato_packs .pakomato_pack_info h3 {
    margin: 0 0 0 10px; }
  .pakomato.presta16 #pakomato_packs .pakomato_pack_info span.pm_info {
    color: #666666; }
  .pakomato.presta16 #pakomato_packs .pakomato_pack_info span.label {
    font-weight: bold;
    color: #666666; }
